p {
    margin-top: 10px;
    margin-bottom: 2px;
}

.blackjack{
    line-height: 1;
}

#blackjack_text{
    text-decoration: underline;
    margin-top: 2px;
}

.blackjack_body{
    font-size: 24px;
}
.unity_images{
    text-align: center;
}