p {
    margin-top: 10px;
    margin-bottom: 2px;
}

.RL{
    line-height: 1.2;
}

#RL_text{
    text-decoration: underline;
    margin-top: 2px;
}

.RL_body{
    font-size: 24px;
}

.RL_images{
    text-align: center;
}

#gridworld {
    width: 70%;
}