p {
    margin-top: 10px;
    margin-bottom: 2px;
}

.API{
    line-height: 1.2;
}

#API_text{
    text-decoration: underline;
    margin-top: 2px;
}

.API_body{
    font-size: 24px;
}

.API_images{
    text-align: center;
}

#showcase{
    width: 100%;
    height: auto;
}
