p {
    margin-top: 10px;
    margin-bottom: 2px;
}

.WC{
    line-height: 1.2;
}

#WC_text{
    text-decoration: underline;
    margin-top: 2px;
}

.WC_body{
    font-size: 24px;
}

.WC_images img{
    width: 85%;
    height: auto;
}